h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Verdana", "Geneva", sans-serif; }

.navhead, .navfoot {
  font-size: 14px;
  font-weight: 700;
  font-family: "Verdana", "Geneva", sans-serif;
  color: #FFF;
  text-decoration: none; }
  .navhead:hover, .navfoot:hover {
    color: orange; }

header {
  height: 700px;
  background: url(../img/head2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.logo {
  height: 50px;
  width: 50px;
  height: 50px;
  width: 50px;
  float: left;
  margin: 34px 0 0 34px; }
  .logo:hover {
    color: rgba(0, 0, 0, 0.5); }

.navhead {
  display: inline-block;
  margin: 40px 16px 0 0; }

.contenthead {
  float: right;
  margin-right: 50px; }

h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.05;
  margin-bottom: 20px;
  clear: both;
  padding-top: 100px;
  font-family: "Verdana", "Geneva", sans-serif; }
  h1 font {
    size: 1000px;
    weight: 200px; }
  h1 span {
    font-size: 50px;
    display: inline-block;
    padding: 0.5em;
    border: white solid 8px;
    padding: 0.2em 0.5em; }

.kowt {
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  font-family: "Verdana", "Geneva", sans-serif;
  letter-spacing: 1.05;
  line-height: 1;
  color: white; }

.headtext {
  margin: auto;
  padding-top: 100px;
  padding: auto; }

footer {
  height: 200px;
  background: url(../img/head2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.lock {
  padding: 50px 50px; }
  .lock::after {
    clear: both;
    content: "";
    display: table; }

.logofoot {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 30px; }

.navfoot {
  padding-right: 10px; }
  .navfoot a {
    margin-right: 16px; }

.contentfoot {
  float: left; }

.copyright {
  font-size: 14px;
  font-weight: 700;
  font-family: "Verdana", "Geneva", sans-serif;
  color: #FFA500;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4); }

h3 {
  color: #d15941;
  text-align: center;
  padding-top: 83px; }

.circles {
  max-width: 700px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 27px;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 0 auto;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }

.face {
  height: 171px;
  width: 171px;
  background: url(../img/face.jpg); }

@media screen and (max-width: 512px) {
  .circles {
    text-align: center;
    background-position: center center; }

  .lorem {
    margin-top: 200px;
    padding-top: 100px;
    text-align: center; }

  .face {
    height: 100px;
    width: 100px;
    background-size: cover; } }
  @media screen and (max-width: 512px) and (max-width: 440px) {
    .face {
      height: 0px;
      width: 0px; } }

.toga {
  height: 100px;
  width: 100px;
  margin-right: 50px; }

.cake {
  height: 100px;
  width: 100px;
  margin-left: 50px;
  padding-left: 10px; }

.lorem {
  color: #575757;
  padding: 0, 21px;
  max-width: 620px;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  font-weight: 300%;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif; }

.sskillan {
  max-width: 540px;
  margin: 100px auto;
  color: #575757; }
  .sskillan::after {
    clear: both;
    content: "";
    display: table; }
  .sskillan .skillsection {
    width: 270px;
    float: left; }
  .sskillan .skillbar {
    font-size: 0;
    margin: 3px 0 30px; }
    .sskillan .skillbar span {
      display: inline-block;
      height: 14px;
      width: 14px;
      background-color: #e08f7f;
      background-image: -webkit-linear-gradient(#e08f7f, #9f3b26);
      background-image: linear-gradient(#e08f7f, #9f3b26);
      margin-right: 0px; }
      .sskillan .skillbar span:after {
        display: block;
        height: 10px;
        width: 10px;
        background: #fff;
        margin: 2px; }
    .sskillan .skillbar.skill-1 span:nth-child(n+2) {
      background: #575757; }
    .sskillan .skillbar.skill-2 span:nth-child(n+3) {
      background: #575757; }
    .sskillan .skillbar.skill-3 span:nth-child(n+4) {
      background: #575757; }
    .sskillan .skillbar.skill-4 span:nth-child(n+5) {
      background: #575757; }
    .sskillan .skillbar.skill-5 span:nth-child(n+6) {
      background: #575757; }
    .sskillan .skillbar.skill-6 span:nth-child(n+7) {
      background: #575757; }
    .sskillan .skillbar.skill-7 span:nth-child(n+8) {
      background: #575757; }
    .sskillan .skillbar.skill-8 span:nth-child(n+9) {
      background: #575757; }
    .sskillan .skillbar.skill-9 span:nth-child(n+10) {
      background: #575757; }
    .sskillan .skillbar.skill-10 span:nth-child(n+11) {
      background: #575757; }
    .sskillan .skillbar.skill-11 span:nth-child(n+12) {
      background: #575757; }
    .sskillan .skillbar.skill-12 span:nth-child(n+13) {
      background: #575757; }
    .sskillan .skillbar.skill-13 span:nth-child(n+14) {
      background: #575757; }
    .sskillan .skillbar.skill-14 span:nth-child(n+15) {
      background: #575757; }
    .sskillan .skillbar.skill-15 span:nth-child(n+16) {
      background: #575757; }

@media screen and (max-width: 572px) {
  .skillname {
    width: 220px; }

  .skillsection {
    width: 220px;
    margin: 0 auto;
    padding-left: 150px; } }
.worksection {
  background: url(../img/workbg.png);
  padding-bottom: 100px;
  background-size: cover; }

.thumbNails {
  max-width: 700px;
  margin: 0 auto;
  border: white solid 20px; }
  .thumbNails::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 772px) {
    .thumbNails {
      max-width: 500px; } }
  .thumbNails .thumbNail-smallbox-section {
    display: block;
    width: 40%;
    float: left;
    position: relative;
    padding-right: 70px;
    padding-top: 30%;
    overflow: hidden;
    background-image: url(../img/work/work1/asd.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (max-width: 772px) {
      .thumbNails .thumbNail-smallbox-section {
        width: 40%;
        float: left;
        padding-right: 60%;
        padding-top: 50%; } }
    .thumbNails .thumbNail-smallbox-section .thumbNail-effect {
      position: absolute;
      top: 100%;
      right: 0px;
      left: 0px;
      background: rgba(90, 98, 27, 0.7);
      height: 100%;
      text-align: center;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s;
      -webkit-box-pack: distribute;
      -moz-box-pack: distribute;
      box-pack: distribute;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: distribute; }
      .thumbNails .thumbNail-smallbox-section .thumbNail-effect strong {
        padding-top: 40px;
        display: block;
        color: #c9d756;
        font-family: "Verdana", "Geneva", sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.2;
        width: 80%;
        margin: 0 auto;
        text-align: center center;
        top: 100em;
        text-align: center; }
    .thumbNails .thumbNail-smallbox-section .thumbNail-icon {
      padding-top: 15px; }
    .thumbNails .thumbNail-smallbox-section:hover .thumbNail-effect {
      position: absolute;
      top: 0%;
      right: 0px;
      left: 0px; }

/*# sourceMappingURL=all.css.map */
