<section class = "aboutimg">
  <h3 id = "about"> About Myself </h3>

  <div class = 'circles'>
    <div class ='toga'>{% include icons/toga.html %}</div>
    <div class ='face'></div>
    <div class ='cake'>{% include icons/cake.html %} </div>
  </div>

  <div class = "lorem">
    {{ site.data.layout.lorem | markdownify }}
  </div>

  {% if site.data.layout.skills %}

  <div class = "sskillan">

          {% for skill in site.data.layout.skills %}

            <div class = "skillsection">
                <div class = "skillname">{{ skill.name }}</div>
                  <div class = "skillbar skill-{{ skill.value }}">
                          {% for i in (1..15) %}
                              <span></span>
                          {% endfor %}
                  </div>
            </div>

          {% endfor %}
  </div>

  {% endif %}


</section>
