<section class = "worksection">

        <h3 id = "work">Work</h3>

        <div class = "thumbNails">

                <a href = "#" class = "thumbNail-smallbox-section">

                    <div class = "thumbNail-effect">
                        <strong>Thumbnail effect text</strong>
                        <div class="thumbNail-icon"> </div>

                    </div>
                </a>

                <a href = "#" class = "thumbNail-smallbox-section">

                    <div class = "thumbNail-effect">
                        <strong>Thumbnail effect text</strong>
                        <div class="thumbNail-icon"> </div>

                    </div>
                </a>

                <a href = "" class = "thumbNail-smallbox-section">

                    <div class = "thumbNail-effect">
                        <strong>Thumbnail effect text</strong>
                        <div class="thumbNail-icon"> </div>

                    </div>
                </a>

                <a href = "#" class = "thumbNail-smallbox-section">

                    <div class = "thumbNail-effect">
                        <strong>Thumbnail effect text</strong>
                        <div class="thumbNail-icon"> </div>

                    </div>
                </a>

                <a href = "#" class = "thumbNail-smallbox-section">

                    <div class = "thumbNail-effect">
                        <strong>Thumbnail effect text</strong>
                        <div class="thumbNail-icon"> </div>

                    </div>
                </a>

                <a href = "#" class = "thumbNail-smallbox-section">

                    <div class = "thumbNail-effect">
                        <strong>Thumbnail effect </strong>
                        <div class="thumbNail-icon"> {% include icons/magnifier.html %} </div>

                    </div>
                </a>

                <a href = "#" class = "thumbNail-smallbox-section">

                    <div class = "thumbNail-effect">
                        <strong>Thumbnail effect text</strong>
                        <div class="thumbNail-icon"> </div>
                    </div>

                </a>

                <a href = "#" class = "thumbNail-smallbox-section">

                    <div class = "thumbNail-effect">
                        <strong>Thumbnail effect text</strong>
                        <div class="thumbNail-icon"> </div>
                    </div>

                </a>


        </div>

</section>
