h3
  @extend %small-bold
  color: #d15941
  text-align: center
  padding-top: 83px

.circles
  max-width: 1000px
  +display(flex)
  padding-left: 425px
  padding-top: 27px
  +align-items(center)


.face
  +size(171px)
  background: url(/img/face.jpg)
  max-width: 171px


.toga
  +size(100px)
  margin-right: 50px


.cake
  +size(100px)
  margin-left: 50px
  padding-left: 10px

.lorem
  padding-top: 21px
