h3
  @extend %small-bold
  color: #d15941
  text-align: center
  padding-top: 83px

.circles
  max-width: 700px
  +display(flex)

  padding-top: 27px
  +align-items(center)
  margin: 0 auto
  +justify-content(space-around)

.face
  +size(171px)
  background: url(../img/face.jpg)

@media screen and (max-width: 512px)
  .circles
    text-align: center
    background-position: center center



  .lorem
    margin-top: 200px
    padding-top: 100px
    text-align: center

  .face
    +size(100px)
    background-size: cover
    @media screen and (max-width: 440px)
      +size(0px)


.toga
  +size(100px)
  margin-right: 50px


.cake
  +size(100px)
  margin-left: 50px
  padding-left: 10px

.lorem
  color: #575757
  padding: 0, 21px
  max-width: 620px
  margin: 0 auto
  font-size: 20px
  padding-top: 40px
  text-align: center
  font-weight: 300%
  font-family: $georgia

.sskillan
  max-width: 540px
  margin: 100px auto
  color: #575757
  +clearfix


  .skillsection
    width: 270px
    float: left

  .skillbar
    font-size: 0
    margin: 3px 0 30px

    span
      display: inline-block
      +size(14px)
      @include linear-gradient(#e08f7f, #9f3b26)
      margin-right: 0px

      &:after
        display: block
        +size(10px)
        background: #fff
        margin: 2px

    @for $i from 1 through 15
      &.skill-#{$i} span:nth-child(n+#{$i+1})
        background: #575757


@media screen and (max-width: 572px)
    .skillname
      width: 220px



    .skillsection
      width: 220px
      margin: 0 auto
      padding-left: 150px
