
.worksection
  background: url(../img/workbg.png)
  padding-bottom: 100px
  background-size: cover



.thumbNails
  max-width: 700px
  +clearfix
  margin: 0 auto
  border: white solid 20px

  @media screen and (max-width: 772px)
    max-width: 500px





  .thumbNail-smallbox-section
    display: block
    width: 40%
    float: left
    position: relative
    padding-right: 70px
    padding-top: 30%
    overflow: hidden
    @media screen and (max-width: 772px)
      width: 40%
      float: left
      padding-right: 60%
      padding-top: 50%





    background:
      //color: white
      image: url(../img/work/work1/asd.png)
      repeat: no-repeat
      position: center
      size: cover


    .thumbNail-effect
      +position(absolute, 100% 0px null 0px)
      background: transparentize(#5a621b, 0.3)
      height: 100%
      text-align: center
      +transition
      +justify-content(space-around)



      strong
        padding-top: 40px
        display: block
        color: #c9d756
        font-family: $verdana
        text-transform: uppercase
        font-size: 12px
        font-weight: 300
        line-height: 1.2
        width: 80%
        margin: 0 auto
        text-align: center center
        top: 100em
        text-align: center

    


    &:hover  .thumbNail-effect
      +position(absolute, 0% 0px null 0px)
